---
layout: empty
title: Références
group: navigation
competences:
- {label: PHP, value: 5}
- {label: SQL, value: 5}
- {label: Javascript, value: 5}
- {label: XML, value: 5}
- {label: HTML, value: 4}
- {label: CSS, value: 3}
- {label: Script système, value: 3}
- {label: Liquid, value: 2}
---

<script type="text/javascript" charset="utf-8">
// <![CDATA[
var techno = function (nb)
{
    for (var i = 1; i <= 5; i++) {
        if (i <= nb) {
            document.write('<img src="/img/etoile_pleine.png" alt="" />');
        } else {
            document.write('<img src="/img/etoile_vide.png" alt="" />');
        }
    }
}
// ]]>
</script>

{% capture sidebar %}
<h2>Compétences</h2>
<div class="service">
    <ul>

{% for techno in page.competences %}
<li>
    <span>{{ techno.label }}</span>
    <script type="text/javascript" charset="utf-8">techno({{ techno.value }});</script>
</li>
{% endfor %}
    </ul>
</div>
{% endcapture %}

<div id="contentWrap">

<h1>Mes références</h1>

<div id="references">
    {% for ref in site.pages %}
    {% if ref.group == 'reference' %}
    <div class="item">
        <div class="item-sub-container">
            <h2>{{ ref.title }}</h2>
            <div class="subitem">
                <a href="{{ ref.url }}">
                    <img src="/img/{{ ref.page.image }}" alt="{{ ref.title }}" />
                </a>
                <ul>
                    {% for detail in ref.details limit:4 %}
                    <li>
                        <span>{{ detail.label }}</span>
                        <strong>{{ detail.value | textilize }}</strong>
                    </li>
                    {% endfor %}
                </ul>
                <p class="detail">
                    <a href="{{ ref.url }}">Voir le détail &gt;&gt;</a>
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

</div>

{% include sidebar %}
