.match {
    background: lighten($border-color, 15%);
    @include border-radius(2px);
}

.search {
    float: right;
    padding-right: 12px;
}

#results {
    ul {
        padding-left: 30px;
    }
}

#loader {
    background: url(../img/loader.gif) center center no-repeat;
    height: 30px;
    width: 30px;
    margin: 0 auto;
    text-indent: -99999px;
}
