$border-color:  #bbd367;
$bg-color:      #f2f4d1;
$txt-color:     #292E10;

// Border Radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@import "base";
@import "a";
@import "layout";
@import "h";
@import "table";
@import "class";
@import "bloc";
@import "home";
@import "references";
@import "post";
@import "pygments";
@import "code";
@import "search";
