

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <title>Des articles sur Magento et plein d'autres choses ! - Jacques Bodin-Hullin, développeur Magento</title>
    
    
    <meta name="author" content="Jacques Bodin-Hullin">
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/pygments.css" rel="stylesheet" type="text/css" media="all">
    <link href="/js/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="all">
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">
  <!-- Update these with your own images
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
    <link rel="alternate" type="application/rss+xml" title="Jacques Bodin-Hullin - Latest Posts" href="/atom.xml" >

    <script type="text/javascript" src="/js/jquery-1.10.2.min.js" ></script>
    <script type="text/javascript" src="/js/bootstrap.min.js" ></script>
    <script type="text/javascript" src="/js/fancybox/jquery.fancybox.pack.js" ></script>
    <script type="text/javascript" src="/js/event.js" ></script>
    <script type="text/javascript" src="/js/functions.js" ></script>

    <style for="gists"></style>
</head>
<body class="">

<div id="mainWrap">

    <div id="topWrap">
        <div id="headerWrap">
            <p>
                Jacques Bodin-Hullin
                <span class="baseline">Développeur d'applications Web</span>
            </p>
            <a href="http://jacques.sh"></a>

            <div id="magento_certified">
                <a href="http://www.magentocommerce.com/certification/directory/dev/69536/" title="L'Agence Monsieur Biz est certifiée Magento Solution Specialist" class="solution-specialist" target="_blank"></a>
                <a href="http://www.magentocommerce.com/certification/directory/dev/69536/" title="L'Agence Monsieur Biz est certifiée Magento Developer Plus" class="developer-plus" target="_blank"></a>
                <a href="http://www.magentocommerce.com/certification/directory/dev/69536/" title="Jacques Bodin-Hullin, développeur certifié Magento Developer" class="developer" target="_blank"></a>
                <a href="http://www.magentocommerce.com/certification/directory/dev/69536/" title="Jacques Bodin-Hullin est développeur certifié Magento Front End Developer" class="frontend-developer" target="_blank"></a>
            </div>



        </div>

        <blockquote id="quoteWrap">
            
            <p>
                La perfection est atteinte non quand il ne reste rien à ajouter, mais quand il ne reste
                rien à enlever.
            </p>
            <div><cite>Antoine de Saint Exupéry</cite></div>
            
        </blockquote>

        <div class="menu-wrapper">
            <ul id="menu">
                
                <li><a href="/"><span></span>Accueil</a></li>
                
                <li><a href="https://github.com/jacquesbh" target="_blank"><span></span>Code</a></li>
                
                
    
        
    

    
        
            
            <li><a href="/a-propos.html"><span></span>A propos</a></li>
            
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
            
            <li><a href="/references.html"><span></span>Références</a></li>
            
        
    

    
        
    

    
        
    

    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    




                <li class="search">
                    <form action="/search.html" method="get" id="search_form">
                        <div>
                            <input type="text" name="q" placeholder="Votre recherche" />
                        </div>
                    </form>
                </li>
            </ul>
        </div>

        <div class="mbiz">
            <p>
                <a href="http://monsieurbiz.com" title="Découvrez l'agence Monsieur Biz, spécialiste Magento">
                    <img src="/img/monsieurbiz_bg.png" title="L'Agence Monsieur Biz" />
                    <span>Vous cherchez une agence spécialiste du e-commerce certifiée Magento Solution Specialist ? L'agence Monsieur Biz est faite pour vous !</span>
                </a>
            </p>
        </div>
    </div>

    <div id="globalWrap">



<div id="sideWrap">

<h2>A propos</h2>
<div>
    <img src="/img/visage_edito.png" alt="" width="277" height="88" />
    <p>Bienvenue sur mon blog !</p>
    <p>Je suis <a href="/a-propos.html">Jacques Bodin-Hullin, développeur PHP confirmé, certifié Magento</a>.</p>
    <p>Ce blog est dédié au développement, PHP essentiellement, Javascript un peu, et tout le reste, évidemment !</p>
    <p>N'hésitez pas à aller faire un tour <a href="https://github.com/jacquesbh">sur mon github</a> afin de suivre mes projets et à poster vos remarques sur les articles que vous trouvez ici, c'est toujours constructif !</p>
    <p>J'espère que vous trouverez ici l'information que vous cherchez.</p>
</div>

<div>
    <p>Je suis également le fondateur de <a href="http://monsieurbiz.com">Monsieur Biz, une agence spécialisée Magento</a>.</p>
</div>

<hr />




<h2>Tags</h2>

<p class="tags">

    <span style="font-size:14.4px"><a href="/search.html#!tag=Jekyll">Jekyll</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=Markdown">Markdown</a></span>

    <span style="font-size:14.4px"><a href="/search.html#!tag=GitHub">GitHub</a></span>

    <span style="font-size:38.4px"><a href="/search.html#!tag=Magento">Magento</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=Snippets">Snippets</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=Vim">Vim</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=Netbeans">Netbeans</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=jQuery">jQuery</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=Javascript">Javascript</a></span>

    <span style="font-size:14.4px"><a href="/search.html#!tag=PHP">PHP</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=URL">URL</a></span>

    <span style="font-size:14.4px"><a href="/search.html#!tag=Bonnes pratiques">Bonnes pratiques</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=Ajax">Ajax</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=Homepage">Homepage</a></span>

    <span style="font-size:16.8px"><a href="/search.html#!tag=Layout">Layout</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=CMS">CMS</a></span>

    <span style="font-size:15.6px"><a href="/search.html#!tag=The Installer">The Installer</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=Android">Android</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=Proxy">Proxy</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=HTTP">HTTP</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=Git">Git</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=Workflow">Workflow</a></span>

    <span style="font-size:14.4px"><a href="/search.html#!tag=Cache">Cache</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=Block">Block</a></span>

    <span style="font-size:14.4px"><a href="/search.html#!tag=Module">Module</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=Cart">Cart</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=Customer">Customer</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=Handle">Handle</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=Events">Events</a></span>

    <span style="font-size:15.6px"><a href="/search.html#!tag=Attributes">Attributes</a></span>

    <span style="font-size:15.6px"><a href="/search.html#!tag=Product">Product</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=Product type">Product type</a></span>

    <span style="font-size:14.4px"><a href="/search.html#!tag=EAV">EAV</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=Thème">Thème</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=MariaDB">MariaDB</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=MySQL">MySQL</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=Images">Images</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=Aides de vue">Aides de vue</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=OS X">OS X</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=Astuces">Astuces</a></span>

    <span style="font-size:14.4px"><a href="/search.html#!tag=MageConf">MageConf</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=Émulation">Émulation</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=Meet Magento">Meet Magento</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=Productivité">Productivité</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=SSL">SSL</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=Sécurité">Sécurité</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=COMODO">COMODO</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=gandi">gandi</a></span>

    <span style="font-size:13.2px"><a href="/search.html#!tag=Fabric">Fabric</a></span>

</p>

<hr />



</div>


<div id="contentWrap">

    


    <hr />
    <h2><a href="/2013/02/afficher-un-attribut.html">Bien afficher un attribut personnalisé</a></h2>
    <div class="content post">
        <p>Je me souviens de la galère, à mes débuts sur Magento, pour afficher un attribut un peu personnalisé...</p>

<p>Si l'attribut est l'identifiant d'un bloc CMS, un chiffre sans unité, une clé qui détermine une image... ou que sais-je encore !<br/>
Pour l'exemple nous prendrons l'identifiant d'un bloc CMS, ça me plait bien !</p>

<p>Là tout de suite le problème c'est de garder un template clair...</p>

<blockquote><p>Il faut faire ton traitement dans le <code>phtml</code> !</p></blockquote>

<p>Heu... <strong>Non !</strong></p>

<blockquote><p>Il faut faire un helper pour afficher ton attribut !</p></blockquote>

<p>Là oui. Mais pas que !</p>

<!-- 


<hr />

<p>Vous connaissez la partie « Additional Information » dans une fiche produit n'est-ce pas ?<br/>
Et vous ne savez pas comment faire pour que votre attribut, qui, je le rappelle est un identifiant de block CMS, s'affiche correctement ?</p>

<p>Regardons-y d'un peu plus près. Voici le template <code>frontend/base/default/template/catalog/product/view/attributes.phtml</code> :</p>

<script type="text/javascript">gist('jacquesbh/5033402', 'attributes.phtml', '15');</script>


<p>Ce template est donc celui qui affiche nos attributs.</p>

<p>A la ligne surlignée on peut remarquer un appel étrange à notre helper <code>Mage_Catalog_Helper_Output</code>... Mais concrêtement il se passe quoi ?<br/>
Allez, on remonte !</p>

<p>Le helper a une méthode <code>productAttribute</code> assez particulière comme on peut le voir ci-dessous :</p>

<script type="text/javascript">gist('jacquesbh/5033402', 'Output_productAttribute.php', '17-38');</script>


<p>Si on lis cette méthode on comprend que si notre attribut a un <code>frontend_input</code> qui vaut <code>price</code> ou <code>textarea</code> alors il y aura un petit traitement de faveur pour la valeur de notre attribut.<br/>
Même chose si notre attribut a l'éditeur WYSIWYG d'activé ou que le HTML est autorisé en front pour celui-ci.</p>

<p>Par contre dans tous les autres cas c'est la méthode <code>process</code> qui prend la main...</p>

<p>Bon ok, et cette méthode elle fait quoi ? Voyons-voir ça :</p>

<script type="text/javascript">gist('jacquesbh/5033402', 'Output_process.php', '17-22');</script>


<p>Notre helper récupère des "handlers" et effectue un traitement particulier : il vérifie que la méthode passée en argument (<code>productAttribute</code> dans notre cas) existe pour le "handler" courant dans la boucle...<br/>
Si la méthode existe alors elle est appelée.</p>

<p>Bon, et ces handlers, ils viennent d'où ? La méthode <code>addHandler</code> est là pour nous l'expliquer, enfin... plus ou moins :</p>

<script type="text/javascript">gist('jacquesbh/5033402', 'Output_addHandler.php', '16-26');</script>


<p>En gros on peut ajouter pour une méthode données un helper personnalisé via cette méthode. Et puis bon comme les helpers sont des singletons rien ne nous empêche de le faire quand bon nous semble tant que c'est fait avant l'affichage de notre attribut.</p>

<p>Bon, donc, qu'est-ce qui nous empêche de créer un helper avec la méthode <code>productAttribute($outputHelper, $result, $params)</code> afin de personnaliser l'affichage de notre attribut ?</p>

<p>Vous me suivez ?</p>

<p>Ouais ok... mais bon, comment on fait pour ajouter notre "handler" personnalisé ?</p>

<p>Avec un peu de chance il y a bien un évènement qui est lancé dans les environs... Ah tiens, il fait quoi le constructeur ?? Comme quoi... faut pas chercher bien loin !</p>

<script type="text/javascript">gist('jacquesbh/5033402', 'Output_construct.php', '12');</script>


<p>Bon, on a notre <em>event</em>, alors on observe et on fait en sorte que notre observeur ajoute notre helper !</p>

<script type="text/javascript">gist('jacquesbh/5033402', 'Observer.php', '14');</script>


<p>Et notre helper alors ? Il fait quoi ?</p>

<p>Vu que notre attribut (que nous nommerons ici <code>out_attribute_code</code>) est l'identifiant d'un block CMS, il faut que nous affichions le contenu de ce block !<br/>
Pour faire simple et sans rentrer dans des histoires de cache (car oui le block <code>Mage_Cms_Block_Block</code> ne gère aucun cache !) et bien nous pouvons faire ça :</p>

<script type="text/javascript">gist('jacquesbh/5033402', 'Helper.php', '16-43');</script>


<h2>Conclusion</h2>

<p>Certains me diront que c'est compliqué pour faire simple...</p>

<p>Bah moi j'ai envie de dire... c'est super pratique. Car au final quand je veux afficher un attribut j'ai juste à faire ça :</p>

<script type="text/javascript">gist('jacquesbh/5033402', 'call.php');</script>


<p>De cette manière mes modules sont indépendant les uns des autres et je n'ai qu'une seule manière de faire pour afficher mes attributs.</p>

<p>Et en plus ils s'affichent parfaitement dans notre template de départ ! Et tout ça « sans rien faire » !</p>

<blockquote><p>Bah moi si j'ai envie de filtrer le contenu de mon attribut et bah je peux ! Et en plus s'trop facile !</p></blockquote>

 -->





    </div>
    <div class="voirPlus">
        <div class="social">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://jacques.sh/2013/02/afficher-un-attribut.html" data-text="Bien afficher un attribut personnalisé" data-via="jacquesbh">Tweet</a>
        </div>
        
        <a href="/2013/02/afficher-un-attribut.html#disqus_thread">Commentaires</a> -
        

        <a href="/2013/02/afficher-un-attribut.html">Lire l'article</a>

    </div>

    <hr />
    <h2><a href="/2013/02/un-attribut-dynamique-sur-magento.html">Un attribut dynamique</a></h2>
    <div class="content post">
        <p>Parfois il est nécessaire de faire des développements un peu <em>borderline</em>...</p>

<p>Aujourd'hui je vais vous expliquer comment j'ai réalisé un petit module afin de permettre d'ajouter une valeur à un attribut de type <code>select</code> ou <code>multiselect</code>... <strong>sans quitter la page d'édition du produit</strong> <em>(ou de la catégorie)</em>. Directement depuis le champ de l'attribut.</p>

<p>Sur Magento on peut avoir un <em>Backend Model</em> sur un attribut, dans le but de valider son contenu, ou encore de faire des manipulations avant et/ou après sa sauvegarde/récupération. Je vais profiter de cette fonctionnalité !</p>

<p>Il s'avère qu'on peut aussi avoir un champ HTML personnalisé en admin très facilement.</p>

<p>Au final c'est pas bien compliqué et le module <code>Jbh_DynamicField</code> est réutilisable ;)</p>

<p>Je vous explique ?</p>

<p><strong>Let's go! Borderline!</strong></p>

<!-- 


<hr />

<p>Pour commencer je vous explique ce que fait ce champ dynamique :</p>

<p><img src="/images/posts/un-attribut-dynamique-sur-magento/dynamic-field.png" title="Le champ dynamique" alt="&quot;Le champ dynamique&quot;" /></p>

<p>L'idée c'est que si vous remplissez le champ <em>Nouvelle valeur</em> alors la valeur entrée sera ajoutée aux options possibles pour l'attribut concerné.<br/>
Quand le champ est de type <code>select</code> alors l'option sera en plus assignée à l'attribut. Si c'est un attribut <code>multiselect</code> alors l'option sera ajoutée aux options déjà sélectionnées.</p>

<p>Il faut noter qu'un évènement est lancé lorsqu'une option est ajoutée. C'est très pratique quand on veut effectuer une action lors de l'ajout d'une option.<br/>
Par contre attention ! Aucun évènement n'est lancé quand une option est ajoutée via l'administration des attributs !</p>

<h2>Un champ HTML personnalisé</h2>

<p>Magento permet, via la colonne <code>frontend_input_renderer</code>, de la table <code>catalog_eav_attribut</code>, de changer le <code>renderer</code> (le block qui fait le rendu HTML) de l'attribut dans les formulaire où celui-ci est utilisé.</p>

<p>J'ai donc ajouté deux nouveaux blocks :</p>

<ol>
<li><code>Jbh_DynamicField_Block_Adminhtml_Catalog_Product_Renderer_Select</code> pour gérer les attributs de type <code>select</code>.</li>
<li><code>Jbh_DynamicField_Block_Adminhtml_Catalog_Product_Renderer_Multiselect</code> pour gérer les attributs de type <code>multiselect</code>.</li>
</ol>


<p>Ces deux blocks sont simples. Ils ajoutent un champ nommé <code>jbh_dynamicfield_CODE</code> dans notre formulaire, avec <code>CODE</code> qui est le code de l'attribut.</p>

<p>Voici le block <code>Jbh_DynamicField_Block_Adminhtml_Catalog_Product_Renderer_Select</code> :</p>

<script src="http://gist-it.appspot.com/github/jacquesbh/Jbh_DynamicField/raw/master/app/code/community/Jbh/DynamicField/Block/Adminhtml/Catalog/Product/Renderer/Select.php"></script>


<p>Le block <code>Jbh_DynamicField_Block_Adminhtml_Catalog_Product_Renderer_Multiselect</code> est identique au niveau de la méthode <code>getElementHtml</code> mais les deux blocks n'étendent pas la même classe. Les traits de PHP seraient ici une bonne alternative à ce copier/coller.</p>

<h2>Une sauvegarde améliorée</h2>

<p>Cette fois c'est dans la table <code>eav_attribute</code> et via la colonne <code>backend_model</code> que Magento nous permet de modifier la sauvegarde (et/ou le chargement) de notre attribut.</p>

<p>J'ai donc logiquement créé deux nouveaux modèles :</p>

<ol>
<li><code>Jbh_DynamicField_Model_Catalog_Product_Attribute_Backend_Select</code> pour gérer les attributs de type <code>select</code>.</li>
<li><code>Jbh_DynamicField_Model_Catalog_Product_Attribute_Backend_Multiselect</code> pour gérer les attributs de type <code>multiselect</code>.</li>
</ol>


<p>Des deux modèles permettent d'ajouter une option à notre attribut si le champ supplémentaire ajouté par le <code>renderer</code> contient quelque chose.</p>

<p>L'idée c'est donc de récupérer le code de l'attribut, puis le nom du champ supplémentaire.<br/>
Ensuite on effectue une vérification simple pour savoir s'il contient quelque chose.<br/>
Si c'est le cas alors on ajoute la nouvelle option. <em>Aucune déduplication n'est effectuée ici.</em><br/>
Un évènement est lancé si une option a été ajoutée.</p>

<p>Et en dernier on sauvegarde la nouvelle option dans notre objet.</p>

<p>Rien de mieux pour bien comprendre qu'un exemple.<br/>
Voici le modèle qui gère les <code>multiselect</code> :</p>

<script src="http://gist-it.appspot.com/github/jacquesbh/Jbh_DynamicField/raw/master/app/code/community/Jbh/DynamicField/Model/Catalog/Product/Attribute/Backend/Multiselect.php"></script>


<p>De manière générale les deux modèles font la même chose.</p>

<p>La différence se situe tout d'abord dans le modèle parent. Le <em>select</em> étend le modèle <code>abstract</code> alors que le <em>multiselect</em> le <code>array</code>.<br/>
Ensuite la manière dont la valeur est changée quand une option a été ajoutée change aussi un peu, surtout au niveau du <em>multiselect</em>.</p>

<p>Notez que l'évènement lancé, dans le cas où une option est ajoutée, est le suivant :</p>

<ul>
<li>Nom : <code>jbh_dynamicfield_attribute_CODE_option_added</code> où <code>CODE</code> est le code de l'attribut principal.</li>
<li>Données :

<ul>
<li><code>object</code> : Votre produit/catégorie.</li>
<li><code>code</code> : Le code de votre attribute. (que vous connaissez puisque vous utilisez un event qui porte son nom !) Il est là afin de permettre des actions dynamiques.</li>
<li><code>option</code> : Un tableau qui contient l'identifiant de la nouvelle option et sa valeur textuelle. Respectivement les clés <code>id</code> et <code>value</code>.</li>
</ul>
</li>
</ul>


<h2>Borderline ?</h2>

<p>Au final je n'ai pas expliqué pourquoi un tel développement est, selon moi, un peu bordeline.</p>

<p>Tout d'abord il n'y a aucune gestion des stores et donc de la possible traduction de l'option.<br/>
L'ajout d'une nouvelle option implique la sauvegarde du produit ou de la catégorie afin d'être prise en compte... On aurait préféré avoir un peu d'ajax afin d'ajouter plusieurs options en même temps !<br/>
Il n'y a aucune gestion des problèmes de duplication d'options qu'un tel système engendre.</p>

<p>Ce développement est vraiment pratique mais il est important que les personnes qui manipulent l'administration soient formées sur le fonctionnement de ce système.</p>

<p>Si vous souhaitez <a href="https://github.com/jacquesbh/Jbh_DynamicField">améliorer le module <code>Jbh_DynamicField</code> : c'est sur github !</a>.</p>

 -->





    </div>
    <div class="voirPlus">
        <div class="social">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://jacques.sh/2013/02/un-attribut-dynamique-sur-magento.html" data-text="Un attribut dynamique" data-via="jacquesbh">Tweet</a>
        </div>
        
        <a href="/2013/02/un-attribut-dynamique-sur-magento.html#disqus_thread">Commentaires</a> -
        

        <a href="/2013/02/un-attribut-dynamique-sur-magento.html">Lire l'article</a>

    </div>

    <hr />
    <h2><a href="/2013/01/creation-product-type-attributes-and-set.html">Créez votre type de produit, ses attributs et son jeu</a></h2>
    <div class="content post">
        <p>Quand on démarre un projet on a souvent besoin de créer nos propres types de produits.</p>

<p>Bien souvent on en profite aussi pour créer un ou deux jeux d'attributs et quelques attributs particuliers.</p>

<p>Le problème dans tout ça c'est qu'on ne sait jamais quoi faire et on oublie bien souvent un ou deux fichiers dans l'histoire...</p>

<p>On va commencer par créer notre type (ou nos types) de produit : soyons <code>Foo</code>.</p>

<!-- 


<hr />

<h2>La création du type de produit <code>Foo</code></h2>

<p>Notre type est identique au niveau fonctionnel du type <code>Simple</code>.</p>

<p>Nous avons donc deux solutions : la sale, et la propre.</p>

<h3>La méthode « sale »</h3>

<p>La sale consiste à dupliquer, simplement, le XML de configuration du type <code>simple</code> avec notre propre balise <code>foo</code> :</p>

<script type="text/javascript">gist(4582238, 'bad.xml', '11');</script>


<p>Vous remarquerez la ligne surlignée. Et bah oui ! Si notre type se comporte comme un produit <code>simple</code>, pourquoi créer un modèle personnalisé ?</p>

<h3>La méthode « un peu plus propre »</h3>

<p>L'idée c'est de dupliquer les modèles. Pourquoi ? Et bien parce que de cette manière notre type est totalement indépendant.</p>

<p>Et puis ça permet de prévoir les évolutions ;)</p>

<script type="text/javascript">gist(4582238, 'good.xml', '11,12,15,16');</script>


<p>Vous remarquez cette fois que nous avons quatre modèles personnalisés.</p>

<p>Pas de panique, ils font tous un <code>extends</code> sur le même modèle pour le type <code>simple</code>.</p>

<h4>Le modèle principal</h4>

<p>Ce modèle contient la constante qui vaut le code du type : <code>foo</code>.</p>

<script type="text/javascript">gist(4582238, 'type.php');</script>


<h4>Le modèle de prix</h4>

<script type="text/javascript">gist(4582238, 'price.php');</script>


<h4>Le modèle d'index des prix</h4>

<script type="text/javascript">gist(4582238, 'indexer.php');</script>


<h4>Le data retreiver</h4>

<p>Ce modèle a une méthode qui permet de récupérer le code du type. On utilise donc la constante disponible.</p>

<script type="text/javascript">gist(4582238, 'retreiver.php');</script>


<h3>Le layout</h3>

<p>Comme tout nouveau type de produit pensez à ajouter le bout de layout qui va avec ! Sinon pas de prix dans la fiche produit par exemple !</p>

<script type="text/javascript">gist(4582238, 'layout.xml');</script>


<h3>Les attributs de type « Prix »</h3>

<p>Notre nouveau type de produit va nous permettre de créer de beaux produits... mais sans prix !</p>

<p>Pour avoir une gestion du prix comme le produit simple, il faut ajouter les attributs nécessaires à notre nouveau type !</p>

<p>Dans un setup de votre module, mettez ceci : (c'est plutôt facile à comprendre)</p>

<script type="text/javascript">gist(4582238, 'setup_price.php');</script>


<h2>La création du jeu d'attributs <code>Bar</code></h2>

<p>Pour créer un jeu d'attribut, rien de plus simple !</p>

<p>On considérera que notre nouveau jeu se base sur les mêmes attributs que le jeu par défaut.</p>

<script type="text/javascript">gist(4582238, 'set.php', '11');</script>


<p>Il faut savoir que si on fait un <code>addAttributeSet</code> d'un jeu d'attributs existant alors celui-ci est mis à jour, tout simplement.</p>

<p>C'est pour cette raison qu'on peut se dispenser de faire un <code>try/catch</code> dans notre installeur.</p>

<h2>La création d'un attribut <code>baz</code></h2>

<p>Dans notre installeur ou dans un update il nous suffit d'ajouter notre attribut, tout simplement, comme ceci :</p>

<script type="text/javascript">gist(4582238, 'attribute.php');</script>


<h2>Conclusion</h2>

<p>Vous pouvez maintenant ajouter rapidement un type de produit, un jeu d'attributs et des attributs !</p>

<p>Cet article n'est pas complet car il ne présente pas comment ajouter un attribut à deux groupes qui sont utilisés par deux types de produits différents etc.</p>

<p>Néanmoins vous trouverez beaucoup de méthode dans le modèle EAV ;)</p>

<script type="text/javascript">gist(4582238, 'eav_setup.php');</script>




 -->





    </div>
    <div class="voirPlus">
        <div class="social">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://jacques.sh/2013/01/creation-product-type-attributes-and-set.html" data-text="Créez votre type de produit, ses attributs et son jeu" data-via="jacquesbh">Tweet</a>
        </div>
        
        <a href="/2013/01/creation-product-type-attributes-and-set.html#disqus_thread">Commentaires</a> -
        

        <a href="/2013/01/creation-product-type-attributes-and-set.html">Lire la suite du tutoriel</a>

    </div>

    <hr />
    <h2><a href="/2013/01/un-site-avec-jekyll-rapidement.html">Un blog avec Jekyll et GitHub</a></h2>
    <div class="content post">
        <p>L'occasion de faire un petit blog ou un site un poil dynamique n'est pas rare dans notre métier.</p>

<p>Voici une manière rapide de faire un blog simple :</p>

<ul>
<li>interface d'administration

<ul>
<li>gestion des utilisateurs</li>
</ul>
</li>
<li>blog statique

<ul>
<li>versionnement des articles</li>
<li>commentaires (avec <a href="http://disqus.com/">Disqus</a>)</li>
<li>catégories</li>
<li>tags</li>
</ul>
</li>
</ul>


<p>Pour le rendu du blog, c'est <a href="http://jekyllrb.com/">Jekyll</a>.</p>

<p>Pour l'interface d'administration, c'est <a href="https://github.com/">GitHub</a>.</p>

<!-- 


<hr />

<p><a href="http://jekyllrb.com/">Jekyll</a> est un générateur de blog statique.</p>

<p><a href="https://github.com/">GitHub</a> permet à un utilisateur d'avoir des URL telles que <em>http://utilisateur.github.com/projet</em> avec ses fameuses <a href="http://pages.github.com/">Pages Github</a>.</p>

<p>Et comme tout projet sur GitHub, on peut y avoir une gestion des collaborateurs. Un collaborateur devient donc un utilisateur dans notre cas.</p>

<p>Les <em>Pages</em> sur GitHub peuvent fonctionner avec Jekyll. C'est d'ailleurs le cas par défaut.</p>

<p>Il nous suffit donc de créer un projet sur GitHub, de créer la branche <code>gh-pages</code> et d'y mettre à l'intérieur : notre blog.</p>

<p>Je vous laisse créer votre projet, le cloner, et vous déplacer sur la branche <code>gh-pages</code>.</p>

<h2>Configuration</h2>

<p>Il nous faut initialiser notre blog :</p>

<script type="text/javascript">gist(4526322, 'misc/init.sh');</script>


<p>La <a href="https://github.com/mojombo/jekyll/wiki/Configuration">configuration de Jekyll</a> est contenu dans le fichier <code>_config.yml</code>.</p>

<p>Par défaut GitHub force les valeurs suivantes :</p>

<pre><code>safe: true
source: &lt;your pages repo&gt;
destination: &lt;the build dir&gt;
lsi: false
pygments: true
</code></pre>

<p>A partir de là vous n'avez pas le choix de la source et de la destination de vos pages. Vous ne pouvez pas non plus utiliser de plugins personnalisés ; Et la coloration syntaxique avec le tag <code>highlight</code> est possible et elle utilise <a href="http://pygments.org/">Pygments</a>.</p>

<p>Mais nous pouvons tout de même personnaliser quelques éléments :</p>

<script type="text/javascript">gist(4526322, '_config.yml');</script>


<p>La configuration n'est pas bien compliquée à comprendre. Il s'agit d'un fichier en <code>YAML</code>, c'est donc une liste de clés/valeurs, tout simplement.</p>

<h2>Le format d'une page avec Jekyll</h2>

<p>Tout fichier texte peut-être transformé par Jekyll. Il suffit d'y inclure le "header" qui va bien, exemple :</p>

<script type="text/javascript">gist(4526322, 'misc/header_example.txt', 4);</script>


<p>La date de publication permet de décider de la date de parution de notre article, à condition que la configuration <code>future</code> soit à <code>false</code>.</p>

<p>Le header d'un fichier "Jekyll" commence et se termine par <code>---</code>. A l'intérieur du header vous pouvez y mettre ce que vous voulez : ces valeurs seront récupérables.
On peut par exemple imaginer une variable <code>comments: true</code> ou <code>false</code> qui nous permette ensuite dans le HTML de la page de déterminer si on doit, ou non, afficher les commentaires.</p>

<h2>Notre page principale</h2>

<p>Comme tout site qui se respecte on a un <code>index.html</code>. Ici, c'est pareil. On peut également le nommer <code>index.md</code> mais dans ce cas il sera, en plus d'être parsé par Jekyll, parsé par le moteur Markdown. Et pour un fichier qui va contenir un HTML bien spécifique c'est un peu lourd de faire passer markdown par là.</p>

<p>On va décider que notre page d'accueil aura un <code>layout</code> standard qu'on pourra réutiliser : <code>default</code>.</p>

<p>Je vous explique plus bas ce qu'est le layout, mais vous allez voir, c'est très simple à comprendre !</p>

<p>En attendant notre page d'accueil doit boucler sur les posts, qui ont une pagination (on doit donc gérer cette pagination).</p>

<script type="text/javascript">gist(4526322, 'index.html');</script>


<p>Les conditions sont simples à comprendre. Par contre effectivement c'est pas super bien indenté... Sauf que si j'indente plus le code on va se retrouver avec des pages dont le HTML reçu par le serveur contiendra des tonnes d'espaces. Car les <code>{% if ... %}</code> sont supprimés, mais pas les espaces avant !</p>

<p>On a là notre page d'accueil avec sa pagination.</p>

<h2>Les includes</h2>

<p>Un fichier peut être inclu grâce à la méthode <code>include</code> : <code>{% include file %}</code>.</p>

<p>On peut donc par exemple facilement créer les fichiers <code>head.html</code>, <code>header.html</code> et <code>footer.html</code> !</p>

<script type="text/javascript">gist(4526322, '_includes/head.html');</script>




<script type="text/javascript">gist(4526322, '_includes/header.html');</script>




<script type="text/javascript">gist(4526322, '_includes/footer.html');</script>


<h2>Les layouts</h2>

<p>Les layouts sont des fichiers qui contiennent nos pages, notre <em>contenu</em> : <code>{{ content }}</code>.</p>

<p>Voici le layout <code>default</code> que nous avons utilisé pour notre page d'accueil :</p>

<script type="text/javascript">gist(4526322, '_layouts/default.html');</script>


<p>Vous voyez tout de suite l'intérêts des <code>includes</code> n'est-ce pas ?</p>

<p>Et le layout pour nos articles : <code>post</code></p>

<script type="text/javascript">gist(4526322, '_layouts/post.html');</script>


<h2>Notre premier article</h2>

<p>Nos articles sont dans le dossier <code>_posts</code>.</p>

<p>Le nom du fichier est important car il contient la date utilisée dans l'URL. Par exemple : <code>2013-01-13-premier-article.md</code></p>

<p>Et son contenu, rien de plus simple ! On utilise la layout <code>post</code>, une date de publication et un titre :</p>

<pre><code>---
title: "Mon premier article !"
layout: post
published: 2013-01-13 22:00:00
tags: [foo, bar, baz]
---

Super :)
</code></pre>

<h2>Les tags</h2>

<p>On peut également gérer des tags... avec par exemple une page qui va permettre de les lister.</p>

<p>Je vous laisse adapter ce code dans votre layout favoris, sur votre page d'accueil, dans une sidebar ou autre...</p>

<script type="text/javascript">gist(4526322, 'tags.html');</script>


<p>Ici on a surchargé le <code>permalink</code> car sinon notre lien aurait été <code>/tags/</code> et non <code>/tags.html</code>. Seul l'<code>index.html</code> n'est pas modifié au niveau de son URL (sauf si on force le <code>permalink</code>).</p>

<h2>Et GitHub dans tout ça ?</h2>

<p>Au final on a vu comment faire tourner un blog avec Jekyll... Mais je n'ai pas parlé de GitHub.</p>

<p>L'intérêt de GitHub dans cette affaire c'est que nous avons quelque chose de propre pour gérer nos fichiers et une interface vraiment simple pour modifier nos articles.</p>

<p>Depuis peu on peut créer des branches directement dans GitHub, ce qui fait qu'on peut rédiger un article directement en ligne, même s'il n'est pas terminé !</p>

<p>Et les contributeurs d'un projet peuvent devenir des auteurs ;)</p>

<h3>Le CNAME ?</h3>

<p>Le détail qui tue... ajoutez un fichier <code>CNAME</code> qui contient votre nom de domaine, par exemple <code>jacques.sh</code> (<a href="https://github.com/jacquesbh/jacquesbh.github.com/blob/master/CNAME">il existe vraiment !</a>).</p>

<p>Faites pointer vos DNS sur les serveurs de GitHub :</p>

<pre><code>jacques.sh.     38400   IN  A   204.232.175.78
</code></pre>

<p>Et le tour est joué !</p>

<p><em>Ce blog fonctionne avec Jekyll et GitHub :)</em></p>

<p>Pensez à bien modifier l'URL <code>production_url</code> dans la configuration du blog ! Sinon vous risquez quelques surprises avec vos URLs.</p>

<h2>Conclusion</h2>

<p>Je ne parle pas des commentaires et des catégories dans cet article. Mais vous avez toutes les clés en main pour faire ça sans moi !</p>

<p>Pour les catégories, ça fonctionne exactement comme les tags. Notez qu'on ne peut pas avoir d'URL particulière pour une catégorie, ou un tag. A moins de faire quelque chose en Javascript ou autre... (comme les tags de ce blog)</p>

<p>Pour les commentaires il vous suffit d'utiliser <a href="http://disqus.com/">Disqus</a>. Avec un <code>include</code> par exemple ! Et un peu de config ?</p>

<pre><code>disqus:
    username: mon_username
</code></pre>

<p>On récupère le nom d'utilisateur comme ceci : <code>{{ site.disqus.username }}</code></p>

<p>Si vous souhaitez un formulaire de contact vous pouvez vous tourner vers <a href="http://getsimpleform.com/">Get Simple Form</a>.
Il s'agit d'un site qui récupère les données <code>POST</code> d'un formulaire de contact et vous envoi un email avec les informations. Très pratique quand on sait que nous sommes sur un site statique !</p>

<p>N'oubliez pas de gérer l'envoi de votre formulaire en javascript (ou tout autre méthode) afin d'éviter le spam.</p>

<p>Concernant la recherche... c'est un peu compliqué de faire une recherche sur un site statique non ? Au final vous pouvez tenter quelque chose avec un fichier <code>json</code> à la racine de votre site et un bout de javascript pour gérer tout ça !</p>

<p>Vous pouvez récupérer la source de tout ce tuto en <a href="https://gist.github.com/4526322">clonant le gist dédié à cet article</a>, il est totalement fonctionnel et peut servir de base pour votre prochain blog ! (Moi ça sera le cas :)).</p>

<p>N'hésitez pas à regarder la <a href="https://github.com/jacquesbh/jacquesbh.github.com">source de ce blog également</a>.</p>

 -->





    </div>
    <div class="voirPlus">
        <div class="social">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://jacques.sh/2013/01/un-site-avec-jekyll-rapidement.html" data-text="Un blog avec Jekyll et GitHub" data-via="jacquesbh">Tweet</a>
        </div>
        
        <a href="/2013/01/un-site-avec-jekyll-rapidement.html#disqus_thread">Commentaires</a> -
        

        <a href="/2013/01/un-site-avec-jekyll-rapidement.html">Lire la suite du tutoriel</a>

    </div>

    <hr />
    <h2><a href="/ajouter-un-handle-personnalise-sur-une-page-sur-magento.html">Ajouter un handle au layout sur Magento</a></h2>
    <div class="content post">
        <blockquote><p>Hey Jacques, c'est possible d'avoir un affichage différent suivant le type de produit ?</p></blockquote>

<p>Bah évidemment ! Et c'est même natif sur Magento !</p>

<blockquote><p>Et on peut faire la même chose sur notre système éditorial ? Pour que suivant le type de news l'affichage soit différent ?</p></blockquote>

<p>Oui on peut, mais là ça implique un peu de dev !</p>

<blockquote><p>Il te faut combien de temps ?</p></blockquote>

<p>Je ne sais pas, pour mettre en place la personnalisation il faut 30 petites minutes... Ensuite pour faire ton templating bah ça dépendra de l'intégration que tu vas me fournir !</p>

<hr />

<p>C'est typiquement le genre de discussion qu'on peut avoir avec un chef de projet qui a besoin d'aller vite et qui vient vous voir pour estimer le travail qu'il va devoir donner aux développeurs. Mais quand on donne au développeur, qui, soit dit en passant, n'a jamais touché aux <em>handles personnalisés</em> sur Magento, ce travail... Et bien il a du mal à voir comment faire, et surtout... comment le faire en 30 minutes !</p>

<p>Laissez-moi vous montrer ;)</p>

<!-- 


<hr />

<p>Avant toute chose vous devez savoir <a href="http://jacques.sh/le-layout-sur-magento.html">comment fonctionne le layout sur Magento</a>. Sans ça vous risquez d'être un peu perdu dans la suite de cet article.</p>

<p>On sait que les handles par défaut qui sont chargés sur notre page <code>frontname/controller/action</code> sont les suivants :</p>

<ul>
<li><code>default</code> : handle principal par défaut</li>
<li><code>STORE_default</code> : handle du store (par défaut)</li>
<li><code>THEME_frontend_default_default</code> : handle du thème (par défaut)</li>
<li><code>frontname_controller_action</code> : handle de notre action</li>
</ul>


<p>On peut aussi avoir les handles <code>customer_logged_out</code> ou <code>customer_logged_in</code> qui permettent de changer l'affichage suivant si le visiteur est connecté ou non.</p>

<p>Maintenant qu'on a ces handles il faut songer à en ajouter... Mais comment ?</p>

<h2>La méthode <code>loadLayout()</code></h2>

<p>Quand on a l'occasion de créer nos propres actions il est vite nécessaire de charger le layout (et donc les handles cités plus haut). Et pour ça c'est la méthode <code>loadLayout()</code> dans notre contrôleur qui fait l'affaire.</p>

<p>Mais cette méthode, elle fait quoi exactement ??</p>

<p>La méthode <code>loadLayout()</code> décortiquée/complétée/nettoyée et commentée ci-dessous :</p>

<script type="text/javascript">gist(4401568, 'load_layout.php', '18-19,30-31,33-35,37-39,50-53');</script>


<p>Vous avez compris le fonctionnement ? Les points les plus importants sont surlignés.</p>

<p>Ok, next ;)</p>

<h2>Un évènement</h2>

<p>Vous avez sans doute remarqué qu'un évènement <code>controller_action_layout_load_before</code> est lancé pile poil avant la génération du XML du Layout qui sera utilisé sur la page... C'est pas par hasard hein ;)</p>

<p>Sauf que le nom de cet évènement, quand on y regarde de plus près, bah il est commun à toutes les pages ! Comment savoir alors si on est bien sur <code>frontname/controller/action</code> ?</p>

<p>Je vais vous donner une solution rapide à mettre en place mais qui ne fonctionnera que sur certains projets assez petits car si vous voulez souvent "taper" sur cet évènement il faudra trouver autre chose. Par chance je l'explique plus bas !</p>

<p>Nous devons dans tous les cas agir sur notre évènement, donc un peu de config, et une classe avec une méthode <code>layoutLoadBefore</code> (pas très original, mais assez parlant) et le tour est joué !</p>

<p>Dans cette méthode on va simplement vérifier que nous sommes bien en train d'afficher notre action et nous allons pouvoir y faire l'ajout de notre nouvel handle :</p>

<script type="text/javascript">gist(4401568, 'observer_handle.php', '12-18');</script>


<p>L'idée c'est surtout de ne pas utiliser une triple condition à la <code>if ($action == 'action' &amp;&amp; $controller == 'controller' &amp;&amp; $module == 'module')</code> car c'est bien trop lourd. On a la possibilité d'avoir un nom d'action précis, alors on fait un case !</p>

<p>Ensuite on ajoute notre handle personnalisé, en majuscules (eh oui !).</p>

<p>Rien ne nous empêche de récupérer un objet dans le registre pour y ajouter un peu de dynamisme (c'est l'idée en fait) : <em>exemple avec une "news"</em></p>

<script type="text/javascript">gist(4401568, 'observer_news.php', '15-18');</script>


<p>A vous de jouer !</p>

<h2>Vérifions</h2>

<p>Pour vérifier que notre handle est présent, rien de plus simple : on ouvre le fichier <code>index.php</code> et on ajoute à la fin du fichier ces quelques lignes.</p>

<script type="text/javascript">gist(4401568, 'index.php');</script>


<p>On actualise ! Et pof ! (tout en bas..)</p>

<h2>En mieux ?</h2>

<p>Si vous devez faire un event sur plein de modules car vous avez souvent besoin de faire de l'affichage personnalisé (c'est super pratique il faut l'avouer !) et bien je vous propose de faire plutôt ceci : lancer un évènement un peu plus personnalisé !</p>

<p>Vous vous souvenez, on a un évènement "global". Mais cet évènement nous donne le nom de l'action (via <code>$observer-&gt;getAction()-&gt;getFullActionName()</code>).</p>

<p>On peut donc lancer un évènement précis pour chaque page sur notre e-commerce :</p>

<script type="text/javascript">gist(4401568, 'observer_dispatch.php', '13-16');</script>


<p>De cette manière on peut utiliser l'évènement <code>controller_action_layout_load_before_frontname_controller_action</code> pour ajouter notre handle sans crainte !</p>

<h2>Et au final ?</h2>

<p>Au final... n'abusez pas des évènements ;)</p>

 -->





    </div>
    <div class="voirPlus">
        <div class="social">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://jacques.sh/ajouter-un-handle-personnalise-sur-une-page-sur-magento.html" data-text="Ajouter un handle au layout sur Magento" data-via="jacquesbh">Tweet</a>
        </div>
        
        <a href="/ajouter-un-handle-personnalise-sur-une-page-sur-magento.html#disqus_thread">Commentaires</a> -
        

        <a href="/ajouter-un-handle-personnalise-sur-une-page-sur-magento.html">Lire l'article</a>

    </div>


<div class="pagination">
    <hr/>
    
    
    
    <a href="/page2" class="previous">Précédent</a>
    
    –
    
    
    <span class="page_number">Page 3 sur 7</span>
    
    
    –
    <a href="/page4" class="next">Suivant</a>
    
    
</div>



</div>

<script type="text/javascript">
    var disqus_shortname = 'jacquesbh';
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>



    </div>

    <div id="bottomWrap">
        <div id="contactWrap">
            <form action="#" method="post" id="contact_form">
                <h3>Contact</h3>
                <p>
                    <label for="contactNom">Votre nom</label>
                    <input type="text" name="contact_name" id="contact_name" class="text" tabindex="1" />
                </p>
                <p>
                    <label for="contactEmail">Votre email</label>
                    <input type="email" name="contact_email" id="contact_email" class="text" tabindex="2" />
                </p>
                <p>
                    <label for="contactMessage">Message</label>
                    <textarea name="contact_message" id="contact_message" rows="5" cols="30" tabindex="8"></textarea>
                </p>
                <p class="send">
                    <input type="hidden" name="redirect_to" value="http://jacques.sh/contact/thanks.html" />
                    <input type="submit" id="contactSend" value="Envoyer" tabindex="9" />
                </p>
                <div style="display: none;" class="url">http://getsimpleform.com/messages?form_api_token=4ba030c3b67553e1ccb25710aee63bd6</div>
            </form>
            <div class="qrcode">
                <h3>Mon QRcode</h3>
                <p>
                    <img src="/img/qrcode.png" alt="le QRcode" width="198" height="192" />
                </p>
            </div>
        </div>

        <div id="footerWrap">
            <div class="social">
                <a href="https://twitter.com/jacquesbh" class="twitter-follow-button" data-show-count="false">Follow @jacquesbh</a>
            </div>
            
            <a href="http://monsieurbiz.com" title="Découvrez Monsieur Biz, une agence spécialisée sur Magento, solution e-commerce">Agence Magento</a>
            | 

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
            
            <a href="/credits.html">Crédits</a>
        
    

    
        
    

    
        
    

    
        
            |
            <a href="/legals.html">Informations légales</a>
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    

    
        
    





            | <a href="/atom.xml">RSS</a>
            | <a href="#" id="toplink">Haut de page</a>
            <br />
            <span class="copy">&copy; Jacques Bodin-Hullin - 2014</span>
        </div>
    </div>

</div>




  <script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-27192340-2', 'auto');
  ga('send', 'pageview');

</script>






<script type="text/javascript" src="/js/jquery/cookies.js"></script>
    <div id="popin" class="monsieurbiz-popin" style="display: none;">
        <img src="/img/monsieurbiz.png" alt="" height="250" style="height: 250px;" />
        <h2><span class="lines">Un projet, Une agence</span></h2>
        <div class="action">
            <p>
                Monsieur Biz, une agence spécialisée Magento pour votre projet.
            </p>
            <a href="http://monsieurbiz.com">
                <div class="button1">C'est par ici que ça se passe !</div>
            </a>
        </div>
    </div>

    <script type="text/javascript">
    if (typeof disable_popin === 'undefined' || !disable_popin) {
        (function ($) {
            $(document).ready(function () {
                var cookieId = 'monsieurbizPopinDisplayed';
                if ($.cookie(cookieId) == null) {
                    $.fancybox.open('#popin');
                    $.cookie(cookieId, 'true');
                }
            });
         })(jQuery);
    }
    </script>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div style="position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: black;z-index: 10000000;text-align: center;"><img src="http://monsieurbiz.com/media/wysiwyg/other/charlie.jpg" /></div>

</body>
</html>

