{% include header %}

    {% capture sidebar %}
    <h2>Quelques infos</h2>
    <ul class="infos">
        <li>
            <span>Par</span>
            {% if page.author %}<strong>{{ page.author }}</strong>
            {% else %}<strong>{{ site.author.name }}</strong>
            {% endif %}
        </li>
        <li>
            <span>Publié le</span>
            <strong>{{ page.date | date_to_long_string }}</strong>
        </li>
        <li>
            <span>Les tags</span>
            <strong>
                {% for tag in page.tags %}
                <a href="/search.html?tag={{ tag }}">{{ tag }}</a>{% if forloop.last != true %}, {% endif %}
                {% endfor %}
            </strong>
        </li>
        {% if page.github %}
        <li>
            <span>Dépôt GitHub</span>
            <strong><a href="https://github.com/{{ page.github }}">{{ page.github }}</a></strong>
        </li>
        {% endif %}
        {% if page.gist %}
        <li>
            <span>Gist associé</span>
            <strong><a href="https://gist.github.com/{{ page.gist }}">{{ page.gist }}</a></strong>
        </li>
        {% endif %}
    </ul>

    <div class="social">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.production_url }}{{ page.url }}" data-text="{{ page.title }}" data-via="{{ site.author.twitter }}">Tweet</a>
    </div>

    {% endcapture %}

    <div id="contentWrap" class="post">

        <h1>{{ page.title }}</h1>

        {{ content }}

        <hr />

        {% if page.comments %}
        <h2 id="comments">Commentaires</h2>
        {% include JB/comments %}
        {% endif %}
    </div>

    {% include sidebar %}

{% include footer %}
