{% include header %}

    {% capture sidebar %}
    <h2>Quelques infos</h2>
    <ul class="infos">
        <li>
            <span>Par</span>
            {% if page.author %}<strong>{{ page.author }}</strong>
            {% else %}<strong>{{ site.author.name }}</strong>
            {% endif %}
        </li>
        <li>
            <span>Publié le</span>
            <strong>{{ page.date | date_to_long_string }}</strong>
        </li>
        <li>
            <span>Les tags</span>
            <strong>{{ page.tags | join:", " }}</strong>
        </li>
    </ul>

    {% endcapture %}

    <div id="contentWrap" class="post">

        <h1>{{ page.title }}</h1>

        {{ content }}

        <hr />

        {% if page.comments %}
        <h2 id="comments">Commentaires</h2>
        {% include JB/comments %}
        {% endif %}
    </div>

    {% include sidebar %}

{% include footer %}
